<h1>Admin Dashboard</h1>

<table class="table">
  <thead>
    <th>Products</th>
    <th>Categories</th>
  </thead>
  <tr>
    <td>
      <%= link_to @products, [:admin, :products] %>
    </td>
    <td>
      <%= @categories %>
    </td>
  </tr>
</table>
